body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.menu-container{
    height: 1000px;
    width: 634px;
    background-color: #F4EDE6;
    margin-left: 500px;
    
}

.logo{
    height: 160px;
    width: 180px;
    padding-top: 80px;
    padding-left: 220px;
    
}

.menu-header {
    display: grid;
    grid-template-columns: 1fr 90px 90px;
    align-items: center;
    margin: 0 100px;
    margin-bottom: -1.5rem;
}

.temp-labels{
    display: contents;
    color: #6F85C4;
}

.temp-labels h4 {
    text-align: center;
    font-weight: bold;
}

#coffee {
    font-size: 32px;
    color: #6F85C4;
    text-decoration: underline;
    text-decoration-color: #91A6E0;
}
.coffee-drinks ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.coffee-drinks li {
    margin: 0 100px;
    color: #6F85C4;
    font-style: oblique;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 90px 90px;
    align-items: center;
    
}

.coffee-drinks h3{
    margin: 8px;
}

.price-hot, .price-cold {
    text-align: center;
    margin: 0;
}

.coffee-drinks a {
    text-decoration: none;
    color:#6F85C4
}

.coffee-drinks a:visited{
    color: #6F85C4;
}

.coffee-drinks a:hover{
    color:#91A6E0;
}

.coffee-drinks p {
    font-size: 16px;
}

#matcha {
    font-size: 32px;
    color: #6F85C4;
    text-decoration: underline;
    text-decoration-color: #91A6E0;
}

.matcha-drinks ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.matcha-drinks li {
    margin: 0 100px;
    color: #6F85C4;
    font-style: oblique;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 90px 90px;
    align-items: center;
}

.matcha-drinks h3{
    margin: 8px;
}

.matcha-drinks a {
    text-decoration: none;
    color:#6F85C4
}

.matcha-drinks a:visited{
    color: #6F85C4;
}

.matcha-drinks a:hover{
    color:#91A6E0
}

.matcha-drinks p {
    font-size: 16px;
}

#addons {
    font-size: 32px;
    color: #6F85C4;
    text-decoration: underline;
    text-decoration-color: #91A6E0;
}

.addons-items h3{
    margin: 8px;
}

.addons-header{
    display: grid;
    grid-template-columns: 1fr 90px 90px;
    align-items: center;
    margin: 0 100px;
    margin-bottom: -1.5rem;
}

.addons-items ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.addons-items li {
    margin: 0 100px;
    color: #6F85C4;
    font-style: oblique;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 90px 90px;
    align-items: center;
}

.addons-items p {
    font-size: 16px;
}

